
<ion-scroll>
	<div class="list list-inset">
		<h3>Resultado da busca</h3>
		<p>Pesquisa por origem: <strong>{{search.origem}}</strong> e destino: <strong>{{search.destino}}</strong></p>
		<div ng-repeat="assoc in associacao">
			<div class="item item-divider" ng-show="assoc.linhas.length">{{assoc.nome}}</div>
			<a ng-repeat="item in assoc.linhas" href="#/itinerario/{{assoc._id}}/{{item.numero}}" class="item item-avatar">
			  <img ng-src="img/{{assoc.nome}}.jpg" alt="{{assoc.nome}}">
		      <h3>Linha {{item.numero}}</h3>
		      <p>{{ item.nome }}</p>
		    </a>
	    </div>
	</div>
</ion-scroll>