
<div class="list list-inset">
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" ng-model="origem" placeholder="Endereço ou referência de origem">
	</label>

	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" ng-model="destino" placeholder="Endereço ou referência de destino">
	</label>

  	<button class="button button-block button-dark" ng-click="buscarLinhas()">Encontrar fretado</button>
</div>

<ion-scroll>
	<div class="list">
		<div class="item item-divider" ng-show="buscas.length">Buscas recentes</div>
	    <a ng-repeat="item in buscas" href="#/busca?origem={{item.origem}}&destino={{item.destino}}" class="item">
	      Origem: {{item.origem}} / Destino: {{item.destino}}
	    </a>
		<div class="item item-divider">Linhas por associações</div>
	    <a ng-repeat="item in associacoes" href="#/linhas/{{item._id}}" class="item item-thumbnail-left">
	      <img ng-src="img/{{item.nome}}.jpg" alt="{{item.nome}}">
	      <h2>{{ item.nome }}</h2>
	      <p>{{ item.telefone }}</p>      
	    </a>
	</div>
</ion-scroll>