
<div class="button-bar nav-android">
	<a ng-click="showLinhas()" class="button android-active"><i class="ion-drag"></i></a>
	<a ng-click="showEmpresa()" class="button"><i class="ion-android-note"></i></a>
</div>

<ion-scroll>
	<ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)">
		<ion-slide>
	    	<div class="box list list-inset">
	    		<h3>{{associacao.nome}}</h3>
	    		<div class="item item-divider">Linhas atendidas</div>
	    		<a ng-repeat="item in associacao.linhas" href="#/itinerario/{{associacao._id}}/{{item.numero}}" class="item">
			      <h3>Linha {{item.numero}}</h3>
			      <p>{{ item.nome }}</p>
			    </a>
	    	</div>
	  	</ion-slide>
		<ion-slide>
	    	<div class="box list list-inset">
		    	<h3>{{associacao.nome}}</h3>
		    	<img class="item-note" ng-src="img/{{associacao.nome}}.jpg" alt="{{associacao.nome}}">
				<p>Telefone: {{associacao.telefone}}</p>
				<p>Endereço: {{associacao.endereco}}</p>
				<p>E-mail: {{associacao.email}}</p>
				<p>Site: {{associacao.site}}</p>
				<a ng-href="tel:{{associacao.telefone}}" class="button button-block button-balanced"><i class="ion-android-call"></i> Ligar para {{associacao.nome}}</a>
	    	</div>
	  	</ion-slide>  	
	</ion-slide-box>
</ion-scroll>