
<div class="list list-inset text-center">
	<h3>Vá de Fretado</h3>
	<p>Versão {{version}}</p>
	<p><strong>Todas as informações desse aplicativo foram obtidas dos sites das associações, por esse motivo não garantimos que os dados estejam atualizados.</strong></p>
	<div class="sobre">
      <a href="https://github.com/americoneto1/vadefretado-app" class="button button-icon ion-social-github"></a>
      <a href="https://twitter.com/americoneto1" class="button button-icon ion-social-twitter"></a>
	</div>
	<small>2014 - ASN Sistemas. Todos os direitos reservados</small>
</div>