<ion-view view-title="Busca">
	<ion-content padding="true">
	  <label class="item item-input">
	    <span class="input-label">Origem</span>
	    <input type="text" ng-model="vm.origem" maxlength="20" placeholder="Endereço ou referência">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Destino</span>
	    <input type="text" ng-model="vm.destino" maxlength="20" placeholder="Endereço ou referência">
	  </label>

	  <button class="button button-block button-dark" ng-click="vm.doSearch()">
	  	Encontrar fretado
	  </button>

      <br />
      <div ng-if="vm.results && vm.results.length">
        <h4>Resultados da busca</h4>
        <br />
    	<ion-list>
            <ion-item class="item" ng-repeat="item in vm.results">
                <div class="text-center">
                    <img src="img/{{item.company.nome}}.jpg">
                </div>
                <ion-item ng-repeat="line in item.lines" ui-sref="app.line.about({id: line._id, companyId: item.company._id})">
                	<div class="lineNumber">{{line.numero}}</div>
                	<h2>Linha {{line.numero}}</h2>
                	<p>{{line.nome}}</p>
                </ion-item>
            </ion-item>
      	</ion-list>
      </div>

      <div ng-if="vm.results && vm.results.length == 0">
        <h4>Nenhum resultado encontrado</h4>
        <br />
      </div>

    </ion-content>
</ion-view>
