
.home-land {
  position: relative;
  padding: 15px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background: url(../img/home.jpg) center center;
  height: 120px;
}

.text-center {
	text-align: center;
}

.lineNumber {
	background-color: #43cee6;
	color: #FFF;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	margin-right: 10px;
	float: left;
}

.description {
	font-size: 80% !important;
}

.item-divider {
	border: none;
	text-transform: uppercase;
	font-size: 90% !important;
	letter-spacing: -0.03em;
	border-bottom: 2px solid #ddd;
}