
.home-land {
  position: relative;
  padding: 15px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background: url(../img/home.jpg) center center;
  height: 120px;
}

.item-itinerario {
	padding: 10px 10px !important;
	font-size: 12px !important;
	white-space: normal !important;
}

.item-divider {
	border: none;
	text-transform: uppercase;
	font-size: 90% !important;
	letter-spacing: -0.03em;
	border-bottom: 2px solid #ddd;
}